/* RESETS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  margin: 50px auto;
  padding: 30px;
  width: 500px;
  height: 500px;

  position: relative;
  
  border: 20px solid white;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -10px 20px 30px rgba(0,0,0,0.5),
              inset 0px 20px 15px rgba(255,255,255, 0.1),
              inset 0px -20px 15px rgba(0,0,0,0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.clock {
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  position: absolute;
  top: 50%;
  left: 0px;
  
  width: 50%;
  height: 6px;
  
  background: black;
  
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.clock--hours-hand{
  left: 10%;
  width: 40%;
  background: red;
  transform: rotate(0deg);
}
.clock--minutes-hand{background: blue;
  transform: rotate(90deg);
}
.clock--seconds-hand{ background: yellow;
  transform: rotate(270deg);
}
